{% if lines %}
    <ul>
    {% for line in lines %}
        <li><a href="/snapp/{{ line.id }}/">{{ line.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No lines are available.</p>
{% endif %}