<h1>Personals</h1>
{% if personals %}
    <ul>
    {% for personal in personals %}
        <li>{{ personal.personal_number }}: {{ personal.first_name }}: {{ personal.last_name }}: {{personal.personal_category}}: {{personal.absence}}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No personal are available.</p>
{% endif %}
 <li>locomotive: {{ train.locomotive }} wagon: {{train.wagon_set.all }}</li>
<h1>Trains</h1>
{% if trains %}
    <ul>
    {% for train in trains %}
        <li>locomotive: {{ train.locomotive }} wagon: {{train.wagon_set.all }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No personal are available.</p>
{% endif %}