<h1>{{ line.name }}</h1>
{% if stations %}
    <ul>
    {% for station in stations %}
        <li>{{ station.name }}: {{ station.whole_duration }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No stations are available.</p>
{% endif %}



<ul>
{% for day in days %}
    <li>{{ day.name }}: {{ day.start }}: {{ day.end }}</li>
    <ul>
        {% for time in day.get_times %}
            <li>{{ time }}</li>
        {% endfor %}
    </ul>
{% endfor %}
</ul>

